<include file="Public:header" />
    <div class="content clearfix" style="height:660px">
        <div class="main">
            <!--右侧内容-->
            
            <div class="cont">
                <div class="title">修改密码</div>
                <div class="details">
                    <!--表格-->
              <section class="column width6 first" style="margin-left:200px;">					
					<h3>Modify the password</h3>	
					<form id="sampleform" method="post" action="{:U('Home/Manager/doUpdPassword')}">
						<fieldset>
							<legend>Text info</legend>
							<p>
								<label class="required" for="title">原始密码</label><br/>
								<input type="password"  class="title1" value="" name="oldPassword" style="height:20px;color:#000"/>
								<small>原始密码</small>
							</p>
							<p>
								<label class="required" for="title">新密码</label><br/>
								<input type="password"  class="title1" value="" name="newPassword" style="height:20px;color:#000"/>
								<small>新的密码</small>
							</p>
							<p>
								<label class="required" for="title">确认新密码</label><br/>
								<input type="password"  class="title1" value="" name="newPasswordq" style="height:20px;color:#000"/>
								<small>确认新的密码</small>
							</p>		
							<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or 
										   <input type="reset" class="btn btn-green big" value="resetting"/>
						</fieldset>
					</form>
				</section>     
                </div>
            </div>
        </div>
 <include file="Public:footer" />       