<div class="wrapper">

  <div id="copyright" class="clear" style="width:960px;display:block;position:relative;">
  		<div class="lists" style="width:560px;display:block;float:left;">
        <h2 style="font-style:normal ; color:#fff">&raquo;<b>快速导航</b></h2>
        <ul >
          <li><a href="http://acm.sdibt.edu.cn/" target="_Blank">&raquo; ACM OnlineJudge</a></li>
          <li><a href="http://acm.sdibt.edu.cn:8080/judge/toIndex.action" target="_Blank">&raquo; ACM VirutalJudge </a></li>
          <li><a href="http://www.ccec.edu.cn/" target="_Blank">&raquo; 山东工商学院</a></li>
          <li><a href="http://xd.sdibt.edu.cn/" target="_Blank">&raquo; 信电学院</a></li>
          <li><a href="http://sx.sdibt.edu.cn/" target="_Blank">&raquo; 数学与信息科学学院</a></li>
          <li><a href="http://career.sdibt.edu.cn/" target="_Blank">&raquo; 招生与就业处</a></li>
          <li><a href="http://lib.sdibt.edu.cn/" target="_Blank">&raquo; 山商图书馆</a></li>
          <li><a href="http://www.tup.com.cn/index.html" target="_Blank">&raquo; 清华大学出版社</a></li>
        </ul>
        </div>
        <div style="width:400px;display:block;float:right;">
         <p style="display:block;float:right; margin:3% 0 0 0; color:#fff">
         	   邮政编码：264005 <br><br>
         	   通讯地址：山东省烟台市莱山区滨海中路191号  <br><br>山东工商学院计算机科学与技术学院
         <a href="__ROOT__/admin.php" target="_Blank"><b >管理员入口</b></a><br><br>
         	   
  			 Copyright &copy; 2015   山东工商学院计算机科学与技术学院<br>
		 </p>
  		</div>
  </div>
</div>
</body>
</html>