<div class="wrapper">

    <div id="copyright" class="clear" style="width:1030px;display:block;position:relative;margin-top:15px">
        <div>
            <p style="display:block;text-align: center; color:#ffffff">
                通讯地址：山东省烟台市莱山区滨海中路191号&nbsp;&nbsp;邮政编码：264005&nbsp;&nbsp;
                <a href="__ROOT__/admin.php" target="_Blank"><b>管理员入口</b></a><br><br>

                Copyright &copy; 2015 山东工商学院计算机科学与技术学院<br>
            </p>
        </div>
    </div>
</div>
</body>
</html>