<include file="Public:header" />

<div class="wrapper row3">
	<div style="display: block;height: 70px; width: 1040px;margin: 0 auto;">
		<div style="width: 250px;float: left;margin:10px 0 20px 150px;font-size: 18px;">
			<span style="display:block;margin: 0 0 -10px 0;"><a href="" target="_Blank"><b>● 国家级特色专业</b></a></span><br/>
			<span><a href="" target="_Blank"><b>● 国家级精品课程</b></a></span>
		</div>
		<div style="width: 250px;float: left;margin:10px 0 20px 40px;font-size: 18px;">
			<span style="display:block;margin: 0 0 -10px 0"><a href="" target="_Blank"><b>● 省级重点学科</b></a></span><br/>
			<span><a href="" target="_Blank"><b>● 省级高校重点实验室</b></a></span>
		</div>
		<div style="width: 250px;float: left;margin:10px 0 20px 80px;font-size: 18px;">
			<span style="display:block;margin: 0 0 -10px 0"><a href="" target="_Blank"><b>● 省级教学团队</b></a></span><br/>
			<span><a href="" target="_Blank"><b>● 省级精品课程</b></a></span>
		</div>
	</div>
  <div id="hpage_featured" class="clear">
    <div id="featured_slide">
      <ul>
        <volist name = "pic" id = "showpic">
        	<li><img src="{$showpic['pic_url']}" alt=""/>
	          <div class="panel-overlay">
	            <h2>{$showpic['title']}</h2>
	            <p>{$showpic['content']}</p>
	          </div>
       	    </li>
        </volist>
      </ul>
    </div>
    <!-- ###### -->
    <div class="intro clear">
    
      <div class="popular"><br/><br/><br/>
        <h2 style="font-style:normal">&raquo;<b>学院新闻</b>
          <a href="__APP__/Home/page/?type_id=1">
          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 185px"/>
          </a></h2>
          <ul>
          <volist name="result2" id ="Res">
	            <li>
	              <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
	              <?php
		              $title=mb_substr($Res['title'],0,12,'utf-8');
				  ?>
					  {$title}&hellip;
				  </a><span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
	            </li>
		  </volist>	
 
          </ul>
      </div>
    </div>
	    <div class="intro clear">	    
	      <div class="popular"><br/><br/><br/>
	        <h2 style="font-style:normal">&raquo;<b>学院通知</b>
	          <a href="__APP__/Home/page/?type_id=2">
	          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 185px"/>
	          </a></h2> 
	          <ul>
				<div id="scroll_div" class="conter" style="overflow:hidden;height:250px;float:left;">
    				<div id="scroll_begin" style="float:left;"> 
	       			   <volist name="result5" id ="Res">
		        	     <li>
		           		   <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
		            		  <?php
		             		       $title=mb_substr($Res['title'],0,12,'utf-8');
					 		  ?>
					 	   {$title}&hellip;</a>
		              	   <span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
		           		 </li>
					  </volist>	
 					</div>
   				 <div id="scroll_end" style="float:left;"></div>
				</div> 
	          </ul>
	      </div>
	    </div>
  </div>
	<div id="container" class="clear">
    
    <div id="homepage" class="clear">
      <!-- ###### -->
      <div id="content">
		  <div id="quicklink" >
			  <h2 style="font-style:normal">&raquo;<b>快速链接</b></h2>
			  <ul>
				  <volist name="result_quick" id ="Res">
					  <li><a href="{$Res['content']}" target="_Blank">&raquo; <B>{$Res['title']}</B></a></li>
				  </volist>
			  </ul>

		  </div>
      <volist name="result4" id ="res">
        <div id="quicklinks" >
	          <h2 style="font-style:normal">&raquo;<b>{$res['title']}</b>
	          <a href="__APP__/Home/page/?type_id={$res['news_id']}">
	          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 195px;"/></a></h2>
	          <ul>
	          <volist name="result3[$res['news_id']]" id ="Res">
	            <li>
	              <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
					  <?php
		           	       $title=mb_substr($Res['title'],0,15,'utf-8');
					  ?>
					  {$title}&hellip;
				  </a><span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
	            </li>
			  </volist>	
	          </ul>
	          
        </div>
	  </volist>
    </div>
   </div>
  </div>
</div>
<!-- 滚动广告的控制 -->
<!--<script>   -->
        <!--var   speed=30   -->
        <!--scroll_end.innerHTML=scroll_begin.innerHTML   -->
        <!--function   Marquee(){   -->
        <!--if(scroll_end.offsetTop-scroll_div.scrollTop<=0)     -->
        	<!--scroll_div.scrollTop-=scroll_begin.offsetHeight   -->
        <!--else{   -->
        	<!--scroll_div.scrollTop++   -->
        <!--}   -->
        <!--}   -->
        <!--var   MyMar=setInterval(Marquee,speed)  -->
        <!--scroll_div.onmouseover=function()   {clearInterval(MyMar)}//鼠标移上时清除定时器达到滚动停止的目的   -->
        <!--scroll_div.onmouseout=function()   {MyMar=setInterval(Marquee,speed)}//鼠标移开时重设定时器   -->
<!--</script>  -->

<include file="Public:footer" />