<include file="Public:header" />

<div class="wrapper row3">
<div id="showpage">
<div id="suspension">
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 省级重点学科</a></span><br/>
	</div>
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 省级教学团队</a></span><br/>
	</div>
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 省级精品课程</a></span><br/>
	</div>
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 省级重点实验室</a></span><br/>
	</div>
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 国家级精品课程</a></span><br/>
	</div>
	<div class="first_line" onmouseover="this.className='over_first_line'"  onmouseout="this.className='first_line'">
		<span><a href="" target="_Blank">● 国家级特色专业</a></span><br/>
	</div>

</div>
  <div id="hpage_featured" class="clear">
    <div id="featured_slide">
      <ul>
        <volist name = "pic" id = "showpic">
        	<li><img src="{$showpic['pic_url']}" alt=""/>
	          <div class="panel-overlay">
	            <h2>{$showpic['title']}</h2>
	            <p>{$showpic['content']}</p>
	          </div>
       	    </li>
        </volist>
      </ul>
    </div>
    <!-- ###### -->
    <div class="intro clear">
    
      <div class="popular"><br/><br/><br/>
        <h2 style="font-style:normal">&raquo;<b>学院新闻</b>
          <a href="__APP__/Home/page/?type_id=1">
          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 265px"/>
          </a></h2>
          <ul>
          <volist name="result2" id ="Res">
	            <li>
	              <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
	              <?php
		              $title=mb_substr($Res['title'],0,12,'utf-8');
				  ?>
					  {$title}&hellip;
				  </a><span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
	            </li>
		  </volist>	
 
          </ul>
      </div>
    </div>
  </div>
  <div id="link" >
      <div style="margin:4px 0 0 8px;width:168px;height:34px;background:#510000;color:#ffffff;font-size:16px;text-align:center;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius: 6px; padding:12px 0 0 0">
         <b>快速链接&nbsp;&nbsp;&nbsp;<span style="font-size:1px">link</span></b>
      </div>
			  <ul style="line-height: 1.8em;font-size:14px">
				  <volist name="result_quick" id ="Res">
					  <li><a href="{$Res['content']}" target="_Blank">{$Res['title']}</a></li>
				  </volist>
			  </ul>

		  </div>
	<div id="container" class="clear" style="width:980px; margin:0 0 0 140px">
    <div id="homepage" class="clear" style="width:820px">
      <!-- ###### -->
      <div id="content">  
	      <div id="quicklinks" style="margin:0 20px 0 4px">
	        <h2 style="font-style:normal">&raquo;<b>学院通知</b>
	          <a href="__APP__/Home/page/?type_id=2">
	          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 275px"/>
	          </a></h2> 
	          <ul>
	       			   <volist name="result5" id ="Res">
		        	     <li>
		           		   <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
		            		  <?php
		             		       $title=mb_substr($Res['title'],0,12,'utf-8');
					 		  ?>
					 	   {$title}&hellip;</a>
		              	   <span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
		           		 </li>
					  </volist>	 
	          </ul>
	      </div>	
      <volist name="result4" id ="res">
        <div id="quicklinks" style="margin:0 20px 0 4px">
	          <h2 style="font-style:normal">&raquo;<b>{$res['title']}</b>
	          <a href="__APP__/Home/page/?type_id={$res['news_id']}">
	          <img src="__PUBLIC__/image/more2.gif" style="width:30px;height:20px; margin:0 0 -10px 275px;"/></a></h2>
	          <ul>
	          <volist name="result3[$res['news_id']]" id ="Res">
	            <li>
	              <p><a href="__APP__/Home/con/?type_id={$Res['type_id']}&news_id={$Res['news_id']}">
					  <?php
		           	       $title=mb_substr($Res['title'],0,15,'utf-8');
					  ?>
					  {$title}&hellip;
				  </a><span style="float:right">{$Res['addtime']|substr=0,10}</span></p>
	            </li>
			  </volist>	
	          </ul>
	          
        </div>
	  </volist>
    </div>
   </div>
  </div>
  </div>
</div>
<!-- 滚动广告的控制 -->
<!--<script>   -->
        <!--var   speed=30   -->
        <!--scroll_end.innerHTML=scroll_begin.innerHTML   -->
        <!--function   Marquee(){   -->
        <!--if(scroll_end.offsetTop-scroll_div.scrollTop<=0)     -->
        	<!--scroll_div.scrollTop-=scroll_begin.offsetHeight   -->
        <!--else{   -->
        	<!--scroll_div.scrollTop++   -->
        <!--}   -->
        <!--}   -->
        <!--var   MyMar=setInterval(Marquee,speed)  -->
        <!--scroll_div.onmouseover=function()   {clearInterval(MyMar)}//鼠标移上时清除定时器达到滚动停止的目的   -->
        <!--scroll_div.onmouseout=function()   {MyMar=setInterval(Marquee,speed)}//鼠标移开时重设定时器   -->
<!--</script>  -->

<include file="Public:footer" />