.menu ul li {
float:left; 
position:relative;
}
.menu ul li a, .menu ul li a:visited {
display:block; 
text-align:center; 
text-decoration:none; 
width:109px; 
height:40px; 
color:#000; 
border:1px solid #fff;
border-width:1px 1px 0 0;
background:#c9c9a7; 
line-height:40px; 
font-size:12px;
}

.menu ul li ul {
display: none;
}

.menu ul li:hover ul {
display:block; 
position:absolute; 
top:40px; 
left:0; 
width:105px;
z-index:9999; /* z-index的值设置成高点，就会顶在上层了，不会盖住了。 */
}
