<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>后台管理系统</title>
<css file="__PUBLIC__/Css/backstage.css" />
</head>

<body>
    <div class="head">
            <div class="logo fl"><a href="#"></a></div>
            <h3 class="head_text fr">计算机科学与技术学院后台管理系统</h3>
    </div>
    <div class="operation_user clearfix">
        <div class="link fl">
        <a href="#">计科</a>
        <span>&gt;&gt;</span><a href="#">商品管理</a>
        <span>&gt;&gt;</span>商品修改</div>
        <div class="link fr">
            <a href="#" class="icon icon_i">首页</a>
            <span></span><a href="#" class="icon icon_j">前进</a>
            <span></span><a href="#" class="icon icon_t">后退</a>
            <span></span><a href="#" class="icon icon_n">刷新</a>
            <span></span><a href="#" class="icon icon_e">退出</a>
        </div>
    </div>
    <div class="content clearfix">
        <div class="main">
            <!--右侧内容-->
            <div class="cont">
                <div class="title">后台管理</div>
                <div class="details">
                    <div class="details_operation clearfix">
                        <div class="bui_select">
                            <input type="button" value="添&nbsp;&nbsp;加" class="add">
                        </div>
                        <div class="fr">
                            <div class="text">
                                <span>商品名称：</span>
                                <div class="bui_select">
                                    <select name="" id="" class="select">
                                        <option value="1">测试内容</option>
                                        <option value="1">测试内容</option>
                                        <option value="1">测试内容</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text">
                                <span>上架时间：</span>
                                <div class="bui_select">
                                    <select name="" id="" class="select">
                                        <option value="1">测试内容</option>
                                        <option value="1">测试内容</option>
                                        <option value="1">测试内容</option>
                                    </select>
                                </div>
                            </div>
                            <div class="text">
                                <span>搜索</span>
                                <input type="text" value="" class="search">
                            </div>
                        </div>
                    </div>
                    <!--表格-->
                    <table class="table" cellspacing="0" cellpadding="0">
                        <thead>
                            <tr>
                                <th width="15%">编号</th>
                                <th width="25%">标题</th>
                                <th width="35%">来源</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <!--这里的id和for里面的c1 需要循环出来-->
                                <td><input type="checkbox" id="c1" class="check"><label for="c1" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c2" class="check"><label for="c2" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c3" class="check"><label for="c3" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c4" class="check"><label for="c4" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c5" class="check"><label for="c5" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c6" class="check"><label for="c6" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c7" class="check"><label for="c7" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c8" class="check"><label for="c8" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                            <tr>
                                <td><input type="checkbox" id="c9" class="check"><label for="c9" class="label">001</label></td>
                                <td>后台设计</td>
                                <td>测试内容</td>
                                <td align="center"><input type="button" value="修改" class="btn"><input type="button" value="删除" class="btn"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!--左侧列表-->
        <div class="menu">
        
            <div class="cont">
                <div class="title">管理员</div>

                <ul class="mList">
                    <li>
                        <a href="__URL__/Show/ceshi1" target="mainFrame">
                        <h3><span onclick="show('menu1','change1')" id="change1">+</span>学院概况</h3></a>
                        <dl id="menu1" style="display:none;">
                        	<dd><a href="#" target="mainFrame">学院简介</a></dd>
                            <dd><a href="#" target="mainFrame">学院领导</a></dd>
                            <dd><a href="#" target="mainFrame">组织机构</a></dd>
                            <dd><a href="#" target="mainFrame">教授介绍</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu2','change2')" id="change2">+</span>教育教学</h3>
                        <dl id="menu2" style="display:none;">
                        	<dd><a href="#" target="mainFrame">专业介绍</a></dd>
                        	<dd><a href="#" target="mainFrame">管理文件</a></dd>
                        	<dd><a href="#" target="mainFrame">文件下载</a></dd>
                        	<dd><a href="#" target="mainFrame">精品课程</a></dd>
                        	<dd><a href="#" target="mainFrame">国家特色专业省级教学团队</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span  onclick="show('menu3','change3')" id="change3" >+</span>科学研究</h3>
                        <dl id="menu3" style="display:none;">
                            <dd><a href="#" target="mainFrame">科研情况</a></dd>
                            <dd><a href="#" target="mainFrame">项目申报</a></dd>
                            <dd><a href="#" target="mainFrame">科研成果</a></dd>
                            <dd><a href="#" target="mainFrame">投稿通知</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu4','change4')" id="change4">+</span>研究生教育</h3>
                        <dl id="menu4" style="display:none;">
                        	<dd><a href="#" target="mainFrame">招生简章</a></dd>
                        	<dd><a href="#" target="mainFrame">导师介绍</a></dd>
                        	<dd><a href="#" target="mainFrame">讨论活动</a></dd>
                        	<dd><a href="#" target="mainFrame">研究生通知</a></dd>
                        	<dd><a href="#" target="mainFrame">投稿通知</a></dd>
                        	<dd><a href="#" target="mainFrame">投稿通知</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu5','change5')" id="change5">+</span>重点科学与精品教程</h3>
                        <dl id="menu5" style="display:none;">
                        	<dd><a href="#" target="mainFrame">重点科学</a></dd>
                        	<dd><a href="#" target="mainFrame">精品课程</a></dd>
                        	<dd><a href="#" target="mainFrame">山东省重点科学</a></dd>
                        </dl>
                    </li>
                    
                    <li>
                        <h3><span onclick="show('menu6','change6')" id="change6">+</span>招生就业</h3>
                        <dl id="menu6" style="display:none;">
                            <dd><a href="#" target="mainFrame">本科生招生</a></dd>
                            <dd><a href="#" target="mainFrame">研究生招生</a></dd>
                            <dd><a href="#" target="mainFrame">企业招聘</a></dd>
						</dl>
                    </li>
                    
                    <li>
                        <h3><span onclick="show('menu7','change7')" id="change7">+</span>党建与工会</h3>
                        <dl id="menu7" style="display:none;">
                            <dd><a href="#" target="mainFrame">党建与工会的介绍</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu8','change8')" id="change8">+</span>学生作品</h3>
                        <dl id="menu8" style="display:none;">
                            <dd><a href="#" target="mainFrame">kong</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu9','change9')" id="change9">+</span>首页信息管理</h3>
                        <dl id="menu9" style="display:none;">
                            <dd><a href="#" target="mainFrame">学院新闻</a></dd>
                            <dd><a href="#" target="mainFrame">教学科研</a></dd>
                            <dd><a href="#" target="mainFrame">学生工作</a></dd>
                            <dd><a href="#" target="mainFrame">企业招聘</a></dd>
                            <dd><a href="#" target="mainFrame">学院通知</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3><span onclick="show('menu10','change10')" id="change10">+</span>管理员信息管理</h3>
                        <dl id="menu10" style="display:none;">
                            <dd><a href="#" target="mainFrame">密码修改</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
	
    </div>
    <script type="text/javascript">
    	function show(num,change){
	    		var menu=document.getElementById(num);
	    		var change=document.getElementById(change);
	    		if(change.innerHTML=="+"){
	    				change.innerHTML="-";
	        	}else{
						change.innerHTML="+";
	            }
    		   if(menu.style.display=='none'){
    	             menu.style.display='';
    		    }else{
    		         menu.style.display='none';
    		    }
        }
    </script>
</body>
</html>