<include file="Public:header"/>

<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="left_column" >
      <div class="holder" >
        <h2 class="title" style="font-style:normal"><b>{$Title1['title']}&nbsp;&nbsp;&raquo;</b></h2>
        <ul class="nostart" style="margin-left:60px;font-size:16px">
          <volist name="Title" id="t">
          	  <li><a href="__APP__/Home/Navigation/showNav/?type_id={$t['type_id']}&news_id={$t['news_id']}">{$t['title']}</a></li>
          </volist>
        </ul>
      </div>
    </div>
    <!-- ############ -->
    <div id="content" style="width:600px;margin:20px 0 0 100px">
      <h1 class="title" style="font-style:normal;" align="center"><b> {$Con['title']}</b></h1>
      <p align="center">发布时间:{$Con['addtime']}</p>
      <p>{$Con['content']||htmlspecialchars_decode=###}
      </p>
    </div>
  </div>
</div>

<include file="Public:footer"/>