<include file ="Public:header"/>

<div class="wrapper row3">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <div id="left_column" >
      <div class="holder" >
        <h2 class="title" style="font-style:normal"><b>学院动态&nbsp;&nbsp;&raquo;</b></h2>
        <ul class="nostart" style="margin-left:60px;font-size:16px">
        	<volist name="PageResult" id ="Pageres">
         		 <li><a href="__APP__/Home/HomePage/showPage?type_id={$Pageres['news_id']}">{$Pageres['title']}</a></li>
          	</volist>

        </ul>
      </div>
    </div>
    <!-- ############ -->
   <div id="content" style="width:600px;margin:20px 0 0 100px">
      <h1 class="title" style="font-style:normal;" align="center"><b> {$PageContent['title']}</b></h1>
      <p align="center">发布时间:{$PageContent['addtime']}</p>
      <p>{$PageContent['content']||htmlspecialchars_decode=###}
</div>
  </div>
</div>
<include file ="Public:footer"/>