<include file="Public:header" />
    <div class="content clearfix" style="height:660px">
        <div class="main">
            <!--右侧内容-->
            
            <div class="cont">
                <div class="title">首页内容的修改&raquo;</div>
                <div class="details">
                    <div class="details_operation clearfix">
                        <div class="bui_select">
                            <a href="{:U('Home/HomePage/showAddSet')}"><input type="button" value="添     加" class="add"></a>
                        </div>
                    </div>
                    <!--表格-->
              <section class="column width6 first" style="margin-left:200px;">					
					<h3>Add new Text</h3>	
					<form id="sampleform" method="post" action="{:U('Home/HomePage/updSetJudge')}">
						<fieldset>
							<legend>Text info</legend>
							<p>
								<label class="required" for="title">ID</label><br/>
								<input type="text"  class="title1" value="{$res['news_id']}" name="id1" style="height:20px;color:#000"/>
								<small>新的ID</small>
							</p>
							<p>
								<label class="required" for="title">Title</label><br/>
								<input type="text"  class="title1" value="{$res['title']}" name="texttitle1" style="height:20px;color:#000"/>
								<small>新的标题</small>
							</p>		
							<p class="box"><input type="submit" class="btn btn-green big" value="Save"/> or 
										   <input type="reset" class="btn btn-green big" value="resetting"/>
										   <input type="hidden" name="id" value="{$res['news_id']}"/></p>
						</fieldset>
					</form>
				</section>     
                </div>
            </div>
        </div>
 <include file="Public:footer" />       