
	<!--左侧列表-->
        <div class="menu" style="height:700px">
            <div class="cont">
                <div class="title">管理员</div>

                <ul class="mList">
                    <li>
                        <h3 style="color:#fff"><span onclick="show()" id="change1" style="color:#fff">{$_SESSION['change1']}</span>导航栏的信息管理</h3>
                        <dl id="menu1" style="display:{$_SESSION['menu1']};">
                        <dd><a href="{:U('Home/Navigation/showSet')}">导航设置</a></dd>
                        <volist name = 'result1' id = 'res'>
                        <dd><a href="__APP__/Home/Navigation/ruKou/id/{$res['news_id']}">{$res['title']}</a></dd>
                        </volist>
                        
                        </dl>
                    </li>
                    
                    <li>
                        <h3 style="color:#fff"><span onclick="show()" id="change2" style="color:#fff">{$_SESSION['change2']}</span>首页信息管理</h3>
                        <dl id="menu2" style="display:{$_SESSION['menu2']};">
                        <dd><a href="{:U('Home/HomePage/showSet')}">首页设置</a></dd>
                            <volist name = 'result2' id = 'res'>
                        <dd><a href="__APP__/Home/HomePage/ruKou/id/{$res['news_id']}">{$res['title']}</a></dd>
                        </volist>
                        <dd><a href="{:U('Home/HomePage/showPic')}">幻灯片设置</a></dd>
                        </dl>
                    </li>
                    <li>
                        <h3 style="color:#fff"><span onclick="show()" id="change3" style="color:#fff">{$_SESSION['change3']}</span>管理员信息管理</h3>
                        <dl id="menu3" style="display:{$_SESSION['menu3']};">
                            <dd><a href="{:U('Home/Manager/showUpdPassword')}">密码修改</a></dd>
                        </dl>
                    </li>

                </ul>
            </div>
        </div>
    </div>
   <!--  <script type="text/javascript">
    	function show(num,change){
	    		var menu=document.getElementById(num);
	    		var change=document.getElementById(change);
	    		if(change.innerHTML=="+"){
	    				change.innerHTML="-";
	        	}else{
						change.innerHTML="+";
	            }
    		   if(menu.style.display=='none'){
    	             menu.style.display='';
    		    }else{
    		         menu.style.display='none';
    		    } 
        }
    </script> -->
    <script>
        $(function show() {
           //POST 
            $("#change1").click(function () {
                $.post("{:U('Home/Admin/change')}", {menu:"menu1",change:"change1"}, function (data) {
                	 /* alert(data);
                	$("#change1").empty().html(data);  */
                	location.reload();
                });
            });
           
            $("#change2").click(function () {
                $.post("{:U('Home/Admin/change')}", {menu:"menu2",change:"change2"}, function (data) {
                	 /* alert(data);
                	$("#change1").empty().html(data);  */
                	location.reload();
                });
            });
            
            $("#change3").click(function () {
                $.post("{:U('Home/Admin/change')}", {menu:"menu3",change:"change3"}, function (data) {
                	 /* alert(data);
                	$("#change1").empty().html(data);  */
                	location.reload();
                });
            });

        });
    </script>
    
</body>
</html>